
.vs/
*.user
*.userosscache
*.suo
*.VC.db
*.VC.VC.opendb


Debug/
Release/
x64/
x86/
Win32/
build/


*.obj
*.pch
*.ipch
*.pdb
*.idb
*.ipdb
*.iobj
*.ilk
*.log
*.tlog
*.exp
*.lib
*.res

# =========================
# Executables
# =========================
*.exe
*.dll



# =========================
# Resources / assets (generated)
# =========================
*.ico
*.aps
RCa*


# =========================
# CMake / build-system outputs
# =========================
CMakeCache.txt
CMakeFiles/
cmake-build-*/
out/


# =========================
# Editors
# =========================
.vscode/

Thumbs.db
.DS_Store
